/* -------------- General styles -------------- */

*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    margin: 0 auto;
}

.section{
    text-align: center;
    padding: 120px 0;
}

.section header{
    margin-bottom: 75px;
}

.section h2, hr{
    margin-bottom: 10px;
}

hr{
    background-color: #543679;
    border: 0;
    height: 1.5px;
    width: 170px;
}

.section p{
    margin: 30px;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.btn{
    text-decoration: none;
    border: 2px solid #07a9ef;
    margin: 15px auto 0 auto;
    padding: 20px 50px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover{
    border: 2px solid #963583;
    border-radius: 5px;
    background-color: #963583;
    color: #fff;
}

footer{
    background-color: #f2f1ed;
    text-align: center;
    padding: 30px;
}

/* -------------- Header styles -------------- */

.main-header{
    height: 70vh;
    display: flex;
    align-content: center;
    background-image: url('../img/header.jpg');
    background-size: cover;
}

.main-content{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
}

.main-content p{
    font-size: 0.75em;
    text-transform: none;
}


/* -------------- Navigation styles -------------- */


.main-nav{
    position: sticky;
    background-color: #06314b;
    top: 0;
    z-index:100;
    padding: 14px 20px;
}

.main-nav label,
#drop-nav{
    display: none;
}

.nav-menu{
    text-align: center;
}

.nav-menu-item{
    display: inline;
}

.nav-menu-item a{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    padding: 14px 20px;
    display: inline-block;
}

.nav-menu-item a:hover{
    background-color: #fff;
    color: #06314b;
}
/* -------------- About Section styles -------------- */

.container .textAbout{
    line-height: 2;
    font-size: 18px;
}

.about-me-image{
    border-radius: 50%;
    margin-top: 40px;
    height: 30%;
    width: 30%;
}

.myskills{
    background-color: #06314b;    
    padding: 25px 0px;
    color: #fff;
    margin-bottom: 50px;
}

.headerSkills{
    font-size: 1.5em;
}

.myskills h3{
    background-color: #07a9ef;
    width: 100%;
}

.containerSkills{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
}

.containerSkills i{
    font-size: 50px;
    color: #fff;
}

.containerSkills i:hover{
    cursor: pointer;
}

/* -------------- Education Section styles -------------- */

.main{
    padding-top: 50px;
}

.headerAccordion{
    background-color: #06314b;
    border: 2px solid #06314b;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.5em;
}

.headerAccordion:hover{
    cursor: pointer;
    background-color: #963583;
    border-color: #963583;
}

.panelEducation{
    display: none;
}

.active{
    display: block;
}

/* -------------- Portfolio Section styles -------------- */

.portfolio{
    background-color: #f2f1ed;
}

.portfolio .portfolio-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio .portfolio-wrapper .portfolio-item{
    flex-basis: 33.33%;
    height: 300px;
    margin: 0;
    position: relative;
}

.portfolio .portfolio-wrapper .portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio .portfolio-wrapper .portfolio-item .project{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #543679;
	top: 0;
	font-size: 1em;
	color: #fff;
    opacity: 0;
	transition: all .3s;
	margin: 0;
}

.portfolio .portfolio-wrapper .portfolio-item .project p{
    line-height: 1.3;
}

.projectIcons{
    display: flex;
    justify-content: center;
    
}
.projectIcons i{
    margin: 0 30px;
    font-size: 1.5em;
    
}

.icon{
    position: relative;
    height: 50px;
    width: 50px;
    margin: -15px 0 30px 30px;
    background-image: url('../img/icons/purpleJquery.png');
    background-size: cover;
}

.project .contLinks .link{
    position: absolute;
    color: #fff;
    padding: 10px;
    bottom: 0;
}

.code{
    left: 0;
}

.live{
    right: 0;
}

.portfolio .portfolio-wrapper .portfolio-item .project:hover{
	opacity: 0.9;
}

/* -------------- Contact Section styles -------------- */

.contact form{
    max-width: 700px;
    margin: 40px auto 30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form input:not([type="submit"]){
    flex-basis: 48%;
    padding: 15px;
    margin-bottom: 15px;
}

.contact form textarea{
    flex-basis: 100%;
    padding: 15px;
    height: 100px;
}

.contact form input:not([type="submit"]), .contact form textarea{
    border: 2px solid #06314b;
    font-size: 100%;
}

.contact form input:focus, .contact form textarea:focus{
    border: 2px solid #c345a9;
    color: #000
}

.containerIcons{
    padding-top: 100px;
    font-size: 2.5em;
    text-align: center;
}

.containerIcons a{
    text-decoration: none;
}

.containerIcons i{
    margin-right: 20px;
    color: #06314b;
}

.containerIcons i:hover{
    color: #963583;
}


/* -------------- Responsive CSS -------------- */

@media(max-width: 1200px){
    .container{
        max-width:992px;
    }
}

@media(max-width:992px){

    .container{
        max-width: 768px;
    }

    .portfolio .portfolio-wrapper .portfolio-item{
        flex-basis: 50%;
    }
}

@media(max-width: 768px){

    .main-content h1{
        font-size: 1.5em;
    }
    .container{
        max-width: 95%;
    }

    .portfolio .portfolio-wrapper .portfolio-item{
        flex-basis: 100%;
    }
}

@media(max-width: 480px){
    
    .main-content h1{
        font-size: 1.5em;
    }
    
    .main-nav label{
        display: block;
        padding: 14px 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.5em;
        text-align: right;
    }

    .main-nav .nav-menu{
        display: none;
    }

    .main-nav #drop-nav:checked + ul{
        display: block;
    }

    .main-nav .nav-menu .nav-menu-item{
        display: block;
        text-align: right;
        margin: 0;
    }

    .main-nav .nav-menu .nav-menu-item a{
        padding: 14px 20px;
    }

    .about .about-me-image{
        max-height: 200px;
        max-width: 200px;
        border-radius: 50%;
    }

    .contact form input:not([type="submit"]){
        flex-basis: 100%;
    }
}